    #nav-buttons{
    display: block;
    color: white;
    left: 0;
    padding:10px;
    float: left;
    text-decoration: none;
    background-color: rgb(37, 37, 37);
    border-right: 1px solid white;
    
    }
    
    #nav-buttons:hover{
        background-color: rgb(58, 58, 58);
    }
   footer{
    position:fixed;
    bottom: 0;
    left:0;
    background-color: rgb(37, 37, 37);
    color: white;
   }
   
   html{
    font-family: 'Courier New', Courier, monospace;
    background-image: url(wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
   }
   h1{
    text-decoration: underline;
    text-align: center;
   }
